
html, body {
        height : 100%;
        background : #fff !important ;
        font-family: 'Libre Franklin', sans-serif;
       
    }
    .wrapper {
        min-height : 100%;
        -webkit-box-shadow: 1px 1px 3px 4px #dadada;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    1px 1px 3px 4px #dadada;  /* Firefox 3.5 - 3.6 */
        box-shadow:         1px 1px 4px 4px #dadada; 
        height : 100%;
        
       
        background-color : #fff;
       
    }
    .container {
        position : relative;
    }
    .wrapper > .container {
        padding : 30px 15px 0;
    }
    .bg-primary {
        background-color : #0c1f31 !important ;
       /* background-image: linear-gradient(to right, #0c1f31 , #65BEDB);*/
    }
    p {
        font-size : 12px;
    }
    .footertext {
        color : #fff;
        font-size : 11px;
        text-align: center;
    }
    .subfooter
    {
        background-color : #5e5b5b;
        height: 150px;
    }
    .footer {
        background-color : #0c1f31;
        color : #FFFFFF;
        height : 30px;
        position : relative;
        bottom : 0;
        width : 100%;
        padding-left : 15px;
        padding-right : 15px;
       /* background-image: linear-gradient(to right, #076D8F , #65BEDB);*/
        text-align: center;
    }
    .content {
         padding : 15px 15px 0 15px;       
    }
   
    h1 {
        text-align : center;
        padding : 50px 0;
        font-weight : 800;
        margin : 0;
        letter-spacing : -1px;
        color : inherit;
        font-size : 40px;
    }
    h2 {
        text-align : center;
        font-size : 30px;
        margin : 0;
        font-weight : 300;
        color : inherit;
        padding : 50px;
    }
    .center {
        text-align : center;
    }
  
    nav ul {
        list-style : none;
        text-align : center;
    }
    nav ul li {
     display : inline-block;
    }
    nav ul li a {
        display : block;
        padding : 15px;
        text-decoration : none;
        color : #fff;
        font-weight : 800;
        font-family : 'Roboto', sans-serif;
        
        margin : 0 10px;
    }
    nav ul li a, nav ul li a:after, nav ul li a:before {
        transition : all 0.5s;
        color:#fff;
    }
    nav ul li a:hover {
        color : #555;
    }
    .navtransition ul li a {
        position : relative;
        z-index : 1;
        font-size:11px;
        text-transform: uppercase;
        color:#fff;
    }
    .navtransition ul li a:hover {
        color:#0c1f31;
      font-size:11px;
    }
    .navtransition ul li a:after {
        display : block;
        position : absolute;
        top : 0;
        left : 0;
        bottom : 0;
        right : 0;
        margin : auto;
        width : 100%;
        height : 1px;
        content : '.';
        color : transparent;
        background : #fff;
        
        opacity : 0;
        z-index : -1;
       
    }
    .navtransition ul li a:hover:after {
        opacity : 1;
        visibility : visible;
        height : 100%;
        
    }
    .carousel-inner img {
     width : 100%;
    }
    .nav-link{

        color: #fff;
    
    }
    
.footer-middle{
    background: #0c1f31;
   padding-top: 2em;
   color: white;
 }